<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @lcb_withdraw_financing_target_bid_item.status %>
</p>

<p>
  <strong>Withdraw profit:</strong>
  <%= @lcb_withdraw_financing_target_bid_item.withdraw_profit %>
</p>

<p>
  <strong>Withdraw principal:</strong>
  <%= @lcb_withdraw_financing_target_bid_item.withdraw_principal %>
</p>

<p>
  <strong>Withdraw:</strong>
  <%= @lcb_withdraw_financing_target_bid_item.withdraw_id %>
</p>

<p>
  <strong>Financing target bid:</strong>
  <%= @lcb_withdraw_financing_target_bid_item.financing_target_bid_id %>
</p>

<p>
  <strong>Id:</strong>
  <%= @lcb_withdraw_financing_target_bid_item.id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @lcb_withdraw_financing_target_bid_item.owner_id %>
</p>

<p>
  <strong>Create uid:</strong>
  <%= @lcb_withdraw_financing_target_bid_item.create_uid %>
</p>

<p>
  <strong>Write uid:</strong>
  <%= @lcb_withdraw_financing_target_bid_item.write_uid %>
</p>

<%= link_to 'Edit', edit_lcb_withdraw_financing_target_bid_item_path(@lcb_withdraw_financing_target_bid_item) %> |
<%= link_to 'Back', lcb_withdraw_financing_target_bid_items_path %>
