<p id="notice"><%= notice %></p>

<h1>Lcb Withdraws</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Status</th>
      <th>Bank card no</th>
      <th>Bank name</th>
      <th>Pid</th>
      <th>Withdraw profit</th>
      <th>User</th>
      <th>Withdraw principal</th>
      <th>Summary</th>
      <th>Bank no</th>
      <th>Opt time</th>
      <th>Opt summary</th>
      <th>Id</th>
      <th>Owner</th>
      <th>Create uid</th>
      <th>Write uid</th>
      <th>Mark</th>
      <th>Subtract remain profit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lcb_withdraws.each do |lcb_withdraw| %>
      <tr>
        <td><%= lcb_withdraw.name %></td>
        <td><%= lcb_withdraw.type %></td>
        <td><%= lcb_withdraw.status %></td>
        <td><%= lcb_withdraw.bank_card_no %></td>
        <td><%= lcb_withdraw.bank_name %></td>
        <td><%= lcb_withdraw.pid %></td>
        <td><%= lcb_withdraw.withdraw_profit %></td>
        <td><%= lcb_withdraw.user_id %></td>
        <td><%= lcb_withdraw.withdraw_principal %></td>
        <td><%= lcb_withdraw.summary %></td>
        <td><%= lcb_withdraw.bank_no %></td>
        <td><%= lcb_withdraw.opt_time %></td>
        <td><%= lcb_withdraw.opt_summary %></td>
        <td><%= lcb_withdraw.id %></td>
        <td><%= lcb_withdraw.owner_id %></td>
        <td><%= lcb_withdraw.create_uid %></td>
        <td><%= lcb_withdraw.write_uid %></td>
        <td><%= lcb_withdraw.mark %></td>
        <td><%= lcb_withdraw.subtract_remain_profit %></td>
        <td><%= link_to 'Show', lcb_withdraw %></td>
        <td><%= link_to 'Edit', edit_lcb_withdraw_path(lcb_withdraw) %></td>
        <td><%= link_to 'Destroy', lcb_withdraw, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lcb Withdraw', new_lcb_withdraw_path %>
