<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lcb_withdraw.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @lcb_withdraw.type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lcb_withdraw.status %>
</p>

<p>
  <strong>Bank card no:</strong>
  <%= @lcb_withdraw.bank_card_no %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @lcb_withdraw.bank_name %>
</p>

<p>
  <strong>Pid:</strong>
  <%= @lcb_withdraw.pid %>
</p>

<p>
  <strong>Withdraw profit:</strong>
  <%= @lcb_withdraw.withdraw_profit %>
</p>

<p>
  <strong>User:</strong>
  <%= @lcb_withdraw.user_id %>
</p>

<p>
  <strong>Withdraw principal:</strong>
  <%= @lcb_withdraw.withdraw_principal %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @lcb_withdraw.summary %>
</p>

<p>
  <strong>Bank no:</strong>
  <%= @lcb_withdraw.bank_no %>
</p>

<p>
  <strong>Opt time:</strong>
  <%= @lcb_withdraw.opt_time %>
</p>

<p>
  <strong>Opt summary:</strong>
  <%= @lcb_withdraw.opt_summary %>
</p>

<p>
  <strong>Id:</strong>
  <%= @lcb_withdraw.id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @lcb_withdraw.owner_id %>
</p>

<p>
  <strong>Create uid:</strong>
  <%= @lcb_withdraw.create_uid %>
</p>

<p>
  <strong>Write uid:</strong>
  <%= @lcb_withdraw.write_uid %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @lcb_withdraw.mark %>
</p>

<p>
  <strong>Subtract remain profit:</strong>
  <%= @lcb_withdraw.subtract_remain_profit %>
</p>

<%= link_to 'Edit', edit_lcb_withdraw_path(@lcb_withdraw) %> |
<%= link_to 'Back', lcb_withdraws_path %>
