<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @lcb_image_position.position %>
</p>

<p>
  <strong>Begin time:</strong>
  <%= @lcb_image_position.begin_time %>
</p>

<p>
  <strong>Sort num:</strong>
  <%= @lcb_image_position.sort_num %>
</p>

<p>
  <strong>Link url:</strong>
  <%= @lcb_image_position.link_url %>
</p>

<p>
  <strong>End time:</strong>
  <%= @lcb_image_position.end_time %>
</p>

<p>
  <strong>Title:</strong>
  <%= @lcb_image_position.title %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @lcb_image_position.image_url %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @lcb_image_position.owner_id %>
</p>

<p>
  <strong>Create uid:</strong>
  <%= @lcb_image_position.create_uid %>
</p>

<p>
  <strong>Write uid:</strong>
  <%= @lcb_image_position.write_uid %>
</p>

<p>
  <strong>Id:</strong>
  <%= @lcb_image_position.id %>
</p>

<%= link_to 'Edit', edit_lcb_image_position_path(@lcb_image_position) %> |
<%= link_to 'Back', lcb_image_positions_path %>
