<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lcb_cash_coupon_def.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @lcb_cash_coupon_def.amount %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @lcb_cash_coupon_def.summary %>
</p>

<p>
  <strong>Valid day:</strong>
  <%= @lcb_cash_coupon_def.valid_day %>
</p>

<p>
  <strong>Used quantity:</strong>
  <%= @lcb_cash_coupon_def.used_quantity %>
</p>

<p>
  <strong>Total quantity:</strong>
  <%= @lcb_cash_coupon_def.total_quantity %>
</p>

<p>
  <strong>Begin time:</strong>
  <%= @lcb_cash_coupon_def.begin_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @lcb_cash_coupon_def.end_time %>
</p>

<p>
  <strong>Conditions:</strong>
  <%= @lcb_cash_coupon_def.conditions %>
</p>

<p>
  <strong>Id:</strong>
  <%= @lcb_cash_coupon_def.id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @lcb_cash_coupon_def.owner_id %>
</p>

<p>
  <strong>Create uid:</strong>
  <%= @lcb_cash_coupon_def.create_uid %>
</p>

<p>
  <strong>Write uid:</strong>
  <%= @lcb_cash_coupon_def.write_uid %>
</p>

<%= link_to 'Edit', edit_lcb_cash_coupon_def_path(@lcb_cash_coupon_def) %> |
<%= link_to 'Back', lcb_cash_coupon_defs_path %>
