<p id="notice"><%= notice %></p>

<h1>Yunweis</h1>

<table>
  <thead>
    <tr>
      <th>Jobs</th>
      <th>Command</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yunweis.each do |yunwei| %>
      <tr>
        <td><%= yunwei.jobs %></td>
        <td><%= yunwei.command %></td>
        <td><%= link_to 'Show', yunwei %></td>
        <td><%= link_to 'Edit', edit_yunwei_path(yunwei) %></td>
        <td><%= link_to 'Destroy', yunwei, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Yunwei', new_yunwei_path %>
