<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lcb_user_package_item.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @lcb_user_package_item.type %>
</p>

<p>
  <strong>Content:</strong>
  <%= @lcb_user_package_item.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @lcb_user_package_item.user_id %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @lcb_user_package_item.summary %>
</p>

<p>
  <strong>Begin time:</strong>
  <%= @lcb_user_package_item.begin_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @lcb_user_package_item.end_time %>
</p>

<p>
  <strong>Tips:</strong>
  <%= @lcb_user_package_item.tips %>
</p>

<p>
  <strong>Used:</strong>
  <%= @lcb_user_package_item.used %>
</p>

<p>
  <strong>Used time:</strong>
  <%= @lcb_user_package_item.used_time %>
</p>

<p>
  <strong>Id:</strong>
  <%= @lcb_user_package_item.id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @lcb_user_package_item.owner_id %>
</p>

<p>
  <strong>Create uid:</strong>
  <%= @lcb_user_package_item.create_uid %>
</p>

<p>
  <strong>Write uid:</strong>
  <%= @lcb_user_package_item.write_uid %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @lcb_user_package_item.amount %>
</p>

<%= link_to 'Edit', edit_lcb_user_package_item_path(@lcb_user_package_item) %> |
<%= link_to 'Back', lcb_user_package_items_path %>
