<p id="notice"><%= notice %></p>

<h1>Lcb Financing Target Positions</h1>

<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Financing target</th>
      <th>Sort num</th>
      <th>End time</th>
      <th>Start time</th>
      <th>Id</th>
      <th>Owner</th>
      <th>Create uid</th>
      <th>Write uid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lcb_financing_target_positions.each do |lcb_financing_target_position| %>
      <tr>
        <td><%= lcb_financing_target_position.position %></td>
        <td><%= lcb_financing_target_position.financing_target_id %></td>
        <td><%= lcb_financing_target_position.sort_num %></td>
        <td><%= lcb_financing_target_position.end_time %></td>
        <td><%= lcb_financing_target_position.start_time %></td>
        <td><%= lcb_financing_target_position.id %></td>
        <td><%= lcb_financing_target_position.owner_id %></td>
        <td><%= lcb_financing_target_position.create_uid %></td>
        <td><%= lcb_financing_target_position.write_uid %></td>
        <td><%= link_to 'Show', lcb_financing_target_position %></td>
        <td><%= link_to 'Edit', edit_lcb_financing_target_position_path(lcb_financing_target_position) %></td>
        <td><%= link_to 'Destroy', lcb_financing_target_position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lcb Financing Target Position', new_lcb_financing_target_position_path %>
