<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @lcb_financing_target_position.position %>
</p>

<p>
  <strong>Financing target:</strong>
  <%= @lcb_financing_target_position.financing_target_id %>
</p>

<p>
  <strong>Sort num:</strong>
  <%= @lcb_financing_target_position.sort_num %>
</p>

<p>
  <strong>End time:</strong>
  <%= @lcb_financing_target_position.end_time %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @lcb_financing_target_position.start_time %>
</p>

<p>
  <strong>Id:</strong>
  <%= @lcb_financing_target_position.id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @lcb_financing_target_position.owner_id %>
</p>

<p>
  <strong>Create uid:</strong>
  <%= @lcb_financing_target_position.create_uid %>
</p>

<p>
  <strong>Write uid:</strong>
  <%= @lcb_financing_target_position.write_uid %>
</p>

<%= link_to 'Edit', edit_lcb_financing_target_position_path(@lcb_financing_target_position) %> |
<%= link_to 'Back', lcb_financing_target_positions_path %>
