<p id="notice"><%= notice %></p>

<p>
  <strong>Sign:</strong>
  <%= @lcb_account_sheet.sign %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lcb_account_sheet.status %>
</p>

<p>
  <strong>Row num:</strong>
  <%= @lcb_account_sheet.row_num %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @lcb_account_sheet.balance %>
</p>

<p>
  <strong>Opt user:</strong>
  <%= @lcb_account_sheet.opt_user_id %>
</p>

<p>
  <strong>Dr:</strong>
  <%= @lcb_account_sheet.dr %>
</p>

<p>
  <strong>Certificate:</strong>
  <%= @lcb_account_sheet.certificate_id %>
</p>

<p>
  <strong>Cr:</strong>
  <%= @lcb_account_sheet.cr %>
</p>

<p>
  <strong>Ext:</strong>
  <%= @lcb_account_sheet.ext %>
</p>

<p>
  <strong>Account:</strong>
  <%= @lcb_account_sheet.account_id %>
</p>

<p>
  <strong>Rid:</strong>
  <%= @lcb_account_sheet.rid %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @lcb_account_sheet.remark %>
</p>

<p>
  <strong>Checker uid:</strong>
  <%= @lcb_account_sheet.checker_uid %>
</p>

<p>
  <strong>Check remark:</strong>
  <%= @lcb_account_sheet.check_remark %>
</p>

<p>
  <strong>Check date:</strong>
  <%= @lcb_account_sheet.check_date %>
</p>

<p>
  <strong>Id:</strong>
  <%= @lcb_account_sheet.id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @lcb_account_sheet.owner_id %>
</p>

<p>
  <strong>Create uid:</strong>
  <%= @lcb_account_sheet.create_uid %>
</p>

<p>
  <strong>Write uid:</strong>
  <%= @lcb_account_sheet.write_uid %>
</p>

<%= link_to 'Edit', edit_lcb_account_sheet_path(@lcb_account_sheet) %> |
<%= link_to 'Back', lcb_account_sheets_path %>
