<%= form_for(lcb_user) do |f| %>
  <% if lcb_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lcb_user.errors.count, "error") %> prohibited this lcb_user from being saved:</h2>

      <ul>
      <% lcb_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login_pwd %>
    <%= f.text_field :login_pwd %>
  </div>

  <div class="field">
    <%= f.label :login_name %>
    <%= f.text_field :login_name %>
  </div>

  <div class="field">
    <%= f.label :mobile %>
    <%= f.text_field :mobile %>
  </div>

  <div class="field">
    <%= f.label :true_name %>
    <%= f.text_field :true_name %>
  </div>

  <div class="field">
    <%= f.label :id %>
    <%= f.text_field :id %>
  </div>

  <div class="field">
    <%= f.label :owner_id %>
    <%= f.text_field :owner_id %>
  </div>

  <div class="field">
    <%= f.label :create_uid %>
    <%= f.text_field :create_uid %>
  </div>

  <div class="field">
    <%= f.label :write_uid %>
    <%= f.text_field :write_uid %>
  </div>

  <div class="field">
    <%= f.label :pay_pwd %>
    <%= f.text_field :pay_pwd %>
  </div>

  <div class="field">
    <%= f.label :pid %>
    <%= f.text_field :pid %>
  </div>

  <div class="field">
    <%= f.label :invite_qr_code %>
    <%= f.text_field :invite_qr_code %>
  </div>

  <div class="field">
    <%= f.label :invite_code %>
    <%= f.text_field :invite_code %>
  </div>

  <div class="field">
    <%= f.label :invite_from %>
    <%= f.text_field :invite_from %>
  </div>

  <div class="field">
    <%= f.label :channel %>
    <%= f.text_field :channel %>
  </div>

  <div class="field">
    <%= f.label :stutus %>
    <%= f.text_field :stutus %>
  </div>

  <div class="field">
    <%= f.label :remain_profit %>
    <%= f.text_field :remain_profit %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
