<p id="notice"><%= notice %></p>

<p>
  <strong>Login pwd:</strong>
  <%= @lcb_user.login_pwd %>
</p>

<p>
  <strong>Login name:</strong>
  <%= @lcb_user.login_name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @lcb_user.mobile %>
</p>

<p>
  <strong>True name:</strong>
  <%= @lcb_user.true_name %>
</p>

<p>
  <strong>Id:</strong>
  <%= @lcb_user.id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @lcb_user.owner_id %>
</p>

<p>
  <strong>Create uid:</strong>
  <%= @lcb_user.create_uid %>
</p>

<p>
  <strong>Write uid:</strong>
  <%= @lcb_user.write_uid %>
</p>

<p>
  <strong>Pay pwd:</strong>
  <%= @lcb_user.pay_pwd %>
</p>

<p>
  <strong>Pid:</strong>
  <%= @lcb_user.pid %>
</p>

<p>
  <strong>Invite qr code:</strong>
  <%= @lcb_user.invite_qr_code %>
</p>

<p>
  <strong>Invite code:</strong>
  <%= @lcb_user.invite_code %>
</p>

<p>
  <strong>Invite from:</strong>
  <%= @lcb_user.invite_from %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @lcb_user.channel %>
</p>

<p>
  <strong>Stutus:</strong>
  <%= @lcb_user.stutus %>
</p>

<p>
  <strong>Remain profit:</strong>
  <%= @lcb_user.remain_profit %>
</p>

<%= link_to 'Edit', edit_lcb_user_path(@lcb_user) %> |
<%= link_to 'Back', lcb_users_path %>
