<p id="notice"><%= notice %></p>

<p>
  <strong>Sign:</strong>
  <%= @lcb_account.sign %>
</p>

<p>
  <strong>Row num:</strong>
  <%= @lcb_account.row_num %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @lcb_account.balance %>
</p>

<p>
  <strong>Opt user:</strong>
  <%= @lcb_account.opt_user_id %>
</p>

<p>
  <strong>Dr:</strong>
  <%= @lcb_account.dr %>
</p>

<p>
  <strong>Certificate:</strong>
  <%= @lcb_account.certificate_id %>
</p>

<p>
  <strong>Cr decimal:</strong>
  <%= @lcb_account.cr_decimal %>
</p>

<p>
  <strong>Ext:</strong>
  <%= @lcb_account.ext %>
</p>

<p>
  <strong>Subject code:</strong>
  <%= @lcb_account.subject_code %>
</p>

<p>
  <strong>Subject name:</strong>
  <%= @lcb_account.subject_name %>
</p>

<p>
  <strong>Subject type:</strong>
  <%= @lcb_account.subject_type %>
</p>

<p>
  <strong>Balance sheet:</strong>
  <%= @lcb_account.balance_sheet_id %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @lcb_account.remark %>
</p>

<p>
  <strong>User:</strong>
  <%= @lcb_account.user_id %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @lcb_account.account_type %>
</p>

<p>
  <strong>Account no:</strong>
  <%= @lcb_account.account_no %>
</p>

<p>
  <strong>Id:</strong>
  <%= @lcb_account.id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @lcb_account.owner_id %>
</p>

<p>
  <strong>Create uid:</strong>
  <%= @lcb_account.create_uid %>
</p>

<p>
  <strong>Write uid:</strong>
  <%= @lcb_account.write_uid %>
</p>

<%= link_to 'Edit', edit_lcb_account_path(@lcb_account) %> |
<%= link_to 'Back', lcb_accounts_path %>
