<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @apidoc.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @apidoc.content %>
</p>

<%= link_to 'Edit', edit_apidoc_path(@apidoc) %> |
<%= link_to 'Back', apidocs_path %>
